// main: main.less

/* accordion */
#desplegables {
    font-size: 14px;
    padding: 0px 10px 0px 35px;
    .ui-accordion-content {
        padding: 10px;
    }
    h2 {
        color: @color1;
        border-bottom: 1px solid @color1;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 15px;
        .ui-accordion-header-icon {
            margin-left: -17px;
            margin-right: 3px;
            background-repeat: no-repeat;
            width: 14px;
            height: 10px;
            display: inline-block;
            &.accord-arrow-right {
                background-image: url(../img/flecha-derecha-red.png);
                height: 13px;
            }
            &.accord-arrow-down {
                background-image: url(../img/flecha-abajo-red.png);
                margin-left: -20px;
                margin-right: 6px;
            }
        }
        &:focus {
            outline: none;
        }
        &:first-child {
            margin-top: 0px;
        }
    }
    .listas-desplegables {
        margin-left: 8%;
        font-size: 14px;
        tbody {
            tr {
                td {
                    padding: 5px;
                    &:nth-child(1) {
                        width: 120px;
                        text-align: right;
                        color: @color2;
                    }
                    &:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }
    .datos-desplegables {
        width: 100%;
        thead {
            color: @color10;
            border-bottom: 2px solid @color10;
            th {
                font-weight: normal;
                word-break: break-all;
                &:first-child {
                    padding-left: 5px;
                }
                &.acciones {
                    float: right;
                    margin-right: 10px;
                }
                @media(max-width:768px) {
                    padding: 3px;
                    word-break: break-all;
                }
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: @color1-inverso;
                }
                &:nth-child(odd) {
                    background: @color11;
                }
                td {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    word-break: break-all;
                    &:first-child {
                        padding-left: 5px;
                    }
                    &.acciones-iconos {
                        float: right;
                    }
                    i {
                        margin-left: 5px;
                        font-size: 20px;
                    }
                    @media(max-width:768px) {
                        padding: 3px;
                        word-break: break-all;
                    }
                }
            }
        }
    }
    .resultados-registro {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/* acordion formularios */

#contenido-datos-materiales {
    
    #desplegables {
        padding: 0px 5px 0px 15px;
        h2 {
            margin-bottom: 0px;
            .ui-accordion-header-icon {
                margin-left: -17px;
                margin-right: 3px;
                background-repeat: no-repeat;
                width: 14px;
                height: 10px;
                display: inline-block;
                &.accord-arrow-right {
                    background-image: url(../img/flecha-derecha-red.png);
                    height: 13px;
                    @media(max-width:768px) {
                        margin-left: -11px;
                        margin-right: -1px;
                    }
                    @media(max-width:480px) {
                        margin-left: -17px;
                        margin-right: 3px;
                    }
                }
                &.accord-arrow-down {
                    background-image: url(../img/flecha-abajo-red.png);
                    margin-left: -20px;
                    margin-right: 6px;
                    @media(max-width:768px) {
                        margin-left: -14px;
                        margin-right: 1px;
                    }
                    @media(max-width:480px) {
                        margin-left: -20px;
                        margin-right: 6px;
                    }
                }
            }
        }
        .ui-accordion-content {
            background: @color9;
            border-bottom: 2px solid @color8;
            border-left: 2px solid @color8;
            border-right: 2px solid @color8;
        }
        #contenedor-datos-tramitacion {
            display: flex;
            padding-bottom: 30px;
            .row {
                margin-left: 0px;
                margin-right: 0px;
            }
            form {
                .form-group {
                    width: 100%;
                }
                label {
                    margin-top: 5px;
                    padding-right: 5px !important;
                    padding-left: 5px !important;
                    float: left;
                    text-align: right;
                    color: @color2 !important;
                    &[for="numero-tramitacion"],
                    &[for="expediente-asociado"],
                    &[for="nombre-razon-asegurado"],
                    &[for="nif"],
                    &[for="fecha-siniestro"],
                    &[for="causa-siniestro"],
                    &[for="realiza-visita"],
                    &[for="firma-informe"] {
                        .make-md-column(12);
                        .make-sm-column(12);
                        .make-xs-column(12);
                        @media(max-width:640px) {
                            .make-xs-column(6);
                        }
                    }
                    &[for="provincia1"],
                    &[for="localidad"],
                    &[for="via1"],
                    &[for="codigo-postal"],
                    &[for="numero"] {
                        .make-md-column(5);
                        .make-sm-column(5);
                        .make-xs-column(5);
                        @media(max-width:640px) {
                            .make-xs-column(6);
                        }
                    }
                    &[for="municipio"] {
                        .make-md-column(4);
                        .make-sm-column(4);
                        .make-xs-column(4);
                    }
                    &[for="escalera-piso-puerta"] {
                        .make-md-column(9);
                        .make-sm-column(9);
                        .make-xs-column(9);
                    }
                    &[for="fecha-siniestro"],
                    &[for="causa-siniestro"],
                    &[for="realiza-visita"],
                    &[for="firma-informe"] {
                        @media(max-width:768px) {
                            .make-md-column(12);
                            .make-sm-column(6);
                            .make-xs-column(6);
                        }
                        @media(max-width:640px) {
                            .make-xs-column(6);
                        }
                    }
                    @media(max-width:480px) {
                        display: none;
                    }
                }
                input {
                    margin-left: 5px;
                    margin-bottom: 5px;
                    padding: 3px 6px !important;
                    color: @color2 !important;
                    /* exp./Tr. */
                    &#numero-tramitacion,
                    &#expediente-asociado,
                    &#nombre-razon-asegurado,
                    &#nif,
                    &#fecha-siniestro {
                        .make-md-column(6);
                        .make-sm-column(6);
                        .make-xs-column(6);
                        @media(max-width:480px) {
                            width:98%;
                        }
                    }
                    &.form-control {
                        &:focus {
                            border-color: @color1;
                            outline: 0;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                        }
                    }
                    &#provincia1,
                    &#numero {
                        .make-md-column(3);
                        .make-sm-column(3);
                        .make-xs-column(3);
                    }
                    &#numero {
                        @media(max-width:480px) {
                           .make-xs-column(7);
                        }
                    }
                    &#provincia1 {
                        @media(max-width:480px) {
                            .make-xs-column(8);
                        }
                    }
                    &#provincia2 {
                        .make-md-column(4.7);
                        .make-sm-column(4.7);
                        .make-xs-column(4.7);
                        @media(max-width:480px) {
                            .make-xs-column(15.1);
                        }
                    }
                    &#localidad {
                        .make-md-column(8);
                        .make-sm-column(8);
                        .make-xs-column(8);
                        @media(max-width:480px) {
                            .make-xs-column(10);
                        }
                    }
                    &#municipio,
                    &#escalera-piso-puerta {
                        .make-md-column(5);
                        .make-sm-column(5);
                        .make-xs-column(5);
                        @media(max-width:480px) {
                            .make-xs-column(16);
                        }
                    }
                    &#municipio {
                        @media(max-width:480px) {
                            .make-xs-column(13);
                        }
                    }
                    &#escalera-piso-puerta {
                        @media(max-width:480px) {
                            .make-xs-column(13);
                            margin-left: 14.6%;
                        }
                    }
                    &#via2 {
                        .make-md-column(12);
                        .make-sm-column(12);
                        .make-xs-column(12);
                        @media(max-width:480px) {
                            .make-xs-column(15.1);
                        }
                    }
                    &#codigo-postal {
                        .make-md-column(5);
                        .make-sm-column(5);
                        .make-xs-column(5);
                        @media(max-width:640px) {
                            .make-xs-column(6);
                        }
                        @media(max-width:480px) {
                            .make-xs-column(10);
                        }
                    }
                    &#realiza-visita,
                    &#firma-informe {
                        .make-md-column(11);
                        .make-sm-column(11);
                        .make-xs-column(11);
                    }
                    &#fecha-siniestro{
                        @media(max-width:768px) {
                            .make-md-column(12);
                            .make-sm-column(9);
                            .make-xs-column(9);
                        }
                        @media(max-width:640px) {
                            .make-xs-column(6);
                        }
                        @media(max-width:480px) {
                            .make-xs-column(10);
                        }
                    }
                    &#realiza-visita,
                    &#firma-informe {
                        @media(max-width:768px) {
                            .make-md-column(11);
                            .make-sm-column(16);
                            .make-xs-column(16);
                        }
                        @media(max-width:480px) {
                            width: 98%;
                        }
                    }
                }
                /* Estilos desplegable select */
                .flecha-roja {
                    overflow: hidden;
                    position: relative;
                    padding: 10px 0;
                    &:after {
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid @color1;
                        position: absolute;
                        top: 13px;
                        right: 4px;
                        content: "";
                    }
                }
                select {
                    margin-left: 5px;
                    margin-bottom: 5px;
                    padding: 3px 6px !important;
                    &#via1 {
                        .make-md-column(5);
                        .make-sm-column(5);
                        .make-xs-column(5);
                        @media(max-width:480px) {
                            .make-xs-column(8);
                        }
                    }
                    &#causa-siniestro {
                        .make-md-column(11);
                        .make-sm-column(11);
                        .make-xs-column(11);
                        @media(max-width:768px) {
                            .make-md-column(11);
                            .make-sm-column(16);
                            .make-xs-column(16);
                        }
                        @media(max-width:480px) {
                            width: 98%;
                        }
                    }
                    &.form-control {
                        &:focus {
                            border-color: @color1;
                            outline: 0;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                        }
                    }
                }
                span {
                    // margin-left: 5px;
                }
                hr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-top: 1px dotted @color8;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            .contenedor-datos-tramitacion-1 {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(12);
                @media(max-width:640px) {
                    .make-sm-column(24);
                    .make-xs-column(24);
                }
            }
            .contenedor-datos-tramitacion-2 {
                border-left: 1px dotted @color8;
                border-right: 1px dotted @color8;
                .make-md-column(10);
                .make-sm-column(10);
                .make-xs-column(12);
                @media(max-width:768px){
                    border-right: none;
                    border-top: 1px dotted @color8;
                    margin-top: 10px;
                    padding-top: 5px;
                }
                @media(max-width:640px) {
                    .make-sm-column(24);
                    .make-xs-column(24);
                    border-left: none;
                }
            }
            .contenedor-datos-tramitacion-3 {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(24);
                @media(max-width:768px) {
                    border-top: 1px dotted @color8;
                    margin-top: 10px;
                    padding-top: 5px;
                }
                @media(max-width:640px) {
                    .make-sm-column(24);
                    .make-xs-column(24);
                }
            }
            @media(min-width:480px) {
                /* Estilos placeholder responsive */
                input::-webkit-input-placeholder {
                    color: transparent;
                }
                input:-moz-placeholder {
                    color: transparent;
                }
                input:-ms-input-placeholder {
                    color: transparent;
                }
            }
        }
        #contenedor-poliza,
        #contenedor-riesgo {
            height: 170px;
            padding-bottom: 30px;
        }
    }
    .acciones-resultados-datos {
        margin-top: 40px;
        @media(max-width:480px){
            text-align: center;
        }
    }
}

/* Acciones usuario tabla */

.acciones-resultados-datos {
    float: right;
    button {
        &.btn-default {
            background: @color1-inverso;
            border-radius: 2px;
            padding: 0px 12px;
            border: 1px solid @color10;
            font-size: 14px;
            &:focus {
                outline: none;
            }
            &:hover {
                background: @color11;
            }
        }
    }
}