// main: main.less


/*aqui se definen los iconos complejos que se usen. Queda este de ejemplo*/

#contenedor-alertas {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    .alerta-exito{
        background-color: #dff0d8;
        border-color: #3c763d;
        color: #3c763d;
        padding: 30px;
        margin-bottom: 10px;
        border: 1px solid #3c763d;
        border-radius: 0px;
    }
    .alerta-notificacion{
        background-color: #d9edf7;
        border-color: #31708f;
        color: #31708f;
        padding: 30px;
        margin-bottom: 10px;
        border: 1px solid #31708f;
        border-radius: 0px;
    }
    .alerta-error-usuario{
        background-color: #fcf8e3;
        border-color: #8a6d3b;
        color: #8a6d3b;
        padding: 30px;
        margin-bottom: 10px;
        border: 1px solid #8a6d3b;
        border-radius: 0px;
    }
    .alerta-error-sistema{
        background-color: #f2dede;
        border-color: #a94442;
        color: #a94442;
        padding: 30px;
        margin-bottom: 10px;
        border: 1px solid #a94442;
        border-radius: 0px;
    }
}

//