// main: main.less

/*----- Componente buscador-2 -------*/

.contenido-buscador {
    font-size: 14px;
    background: @color9;
    border: 2px solid @color8;
    i {
        cursor: pointer;
        
        &.icon-pantallas_aplicaciones-39 {
            .make-md-column(1);
            
            font-size: 24px;
            padding-left: 0px;
            padding-right: 0px;
            //display: inline-block;
        }
        &.icon-pantallas_aplicaciones-40 {
            .make-md-column(1);
            
            font-size: 24px;
            padding-left: 0px;
            padding-right: 0px;
            //display: inline-block;
        }
    }
    span {
       &#buscador-desplegable {
            margin-left: 6px;
            cursor: pointer;
            &.abierto {
                background-image: url(../img/flecha-izquierda.png);
                background-repeat: no-repeat;
                margin-top: 5px;
                width: 13px;
                height: 14px;
                display: inline-block;
                @media(max-width:768px) {
                    background-image: url(../img/flecha-arriba.png);
                    margin-left: 13px;
                }
            }
            &.cerrado {
                background-image: url(../img/flecha-derecha.png);
                background-repeat: no-repeat;
                margin-top: 5px;
                width: 13px;
                height: 14px;
                display: inline-block;
                @media(max-width:768px) {
                    background-image: url(../img/flecha-abajo.png);
                    margin-left: 13px;
                }
            }
        } 
    }
    form {
        .form-group {
            width: 100%;
            @media(max-width:480px) {
                margin-bottom: 0px;
            }
        }
        label {
            margin-top: 5px;
            padding-right: 5px !important;
            padding-left: 5px !important;
            float: left;
            text-align: right;
            color: @color2 !important;
            &[for="codigo-gabinete"],
            &[for="estado-encargo"],
            &[for="tipo-dano"],
            &[for="uo-gabinete"],
            &[for="encargo-desde"],
            &[for="alta-desde"],
            &[for="tipo-tramitacion"],
            &[for="provincia"],
            &[for="localidad"],
            &[for="codigo-postal"],
            &[for="tipo-acto"],
            &[for="siniestralidad-1"],
            &[for="tramitador"],
            &[for="identificacion"],
            &[for="tipo-encargo"],
            &[for="valor-pte-enviar"],
            &[for="valor-reiterada"],
            &[for="expediente"],
            &[for="referencia-perito"],
            &[for="referencia-aseguradora"],
            &[for="cif"],
            &[for="apellido1"],
            &[for="nombre"],
            &[for="razon-social"],
            &[for="vehiculo-danado"],
            &[for="numero-poliza"],
            &[for="aseguradora"],
            &[for="siniestro"] {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(5);
                @media(max-width:768px) {
                    width: 34%;
                }
            }
            &[for="siniestro-desde"],
                {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(5);
            }
            &[for="encargo-desde"],
                {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(5);
                @media(max-width:768px) {
                    width: 34%;
                }
            }
            &[for="siniestro-hasta"],
            
            &[for="alta-hasta"] {
                .make-md-column(2);
                .make-sm-column(2);
                .make-xs-column(2);
            }
            &[for="rcm-gabinete"],
            &[for="encargo-hasta"]{
                .make-md-column(2);
                .make-sm-column(2);
                .make-xs-column(2);
                @media(max-width:768px) {
                    width: 13%;
                    margin-left: 8.3%;
                }
            }
            &[for="encargo-hasta"]{
                @media(max-width:768px) {
                    margin-left: 0px;
                }
                @media(max-width:640px) {
                    margin-left: 12px;
                    
                }
            }
        }
        input {
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 3px 6px !important;
            color: @color2 !important;
            /* codigo-gabinete */
            &#codigo-gabinete {
                .make-md-column(5);
                .make-sm-column(5);
                .make-xs-column(3);
                @media(max-width:768px) {
                    width: 20%;
                }
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            /* estado del encargo / tipo de daño */
            &#estado-encargo, &#tipo-dano {
                .make-md-column(13);
                .make-sm-column(13);
                .make-xs-column(10);
                @media(max-width:640px) {
                    width: 45.1%;
                }
                @media(max-width:480px) {
                    width: 76.7%;
                }
            }
            /* R.C.M */
            &#rcm {
                .make-md-column(5);
                .make-sm-column(5);
                .make-xs-column(3);
            }
            /* Localidad/ Tramitador / Identificación / Ref.Perito / Ref.Aseguradora */
            &#localidad, &#tramitador, &#identificacion, &#referencia-perito , &#referencia-aseguradora {
                .make-md-column(14);
                .make-sm-column(14);
                .make-xs-column(10);
                @media(max-width:768px) {
                    width: 53.666667%;
                }
                @media(max-width:480px) {
                    width: 89.5%;
                }
            }
            &#referencia-perito, &#referencia-aseguradora {
                @media(max-width:480px) {
                    width: 96.7%;
                }
            }
            /* U.O (gabinete) / R.C.M (gabinete) */
            &#uo-gabinete,
            &#rcm-gabinete {
                .make-md-column(4.8);
                .make-sm-column(4.8);
                .make-xs-column(3.8);
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            &#rcm-gabinete {
                @media(max-width:768px) {
                    
                }
                @media(max-width:480px) {
                    margin-left: 10.5%;
                }
            }
            &#siniestralidad-1{
                .make-md-column(5.8);
                .make-sm-column(5.8);
                .make-xs-column(4.8);
            }
            &#siniestralidad-2 {
                .make-md-column(5.8);
                .make-sm-column(5.8);
                .make-xs-column(4.8);
                margin-left: 50px;
                @media(max-width:768px) {
                    margin-left: 42px;
                }
                @media(max-width:480px) {
                    margin-left: 20px;
                }
            }
            &#siniestralidad-1, &#siniestralidad-2 {
                @media(max-width:480px) {
                    width: 41.5%;
                }
            }
            /* F.siniestro */
            /* F.alta*/
            &#siniestro-desde,
            &#siniestro-hasta,
            &#alta-desde,
            &#alta-hasta {
                .make-md-column(5);
                .make-sm-column(5);
                .make-xs-column(2);
            }
            &#encargo-desde,
            &#encargo-hasta {
                .make-md-column(4.8);
                .make-sm-column(4.8);
                .make-xs-column(3.8);
                @media(max-width:768px) {
                   // width: 24%;
                }
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            &#encargo-hasta {
                @media(max-width:480px) {
                    margin-left: 2%;
                    margin-right: 3%;
                }
            }
            /* Codigo postal / Expediente */
            &#codigo-postal, &#expediente {
                .make-md-column(4.8);
                .make-sm-column(4.8);
                .make-xs-column(3.8);
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            &#expediente {
                @media(max-width:768px) {
                    width: 25%;
                }
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            /* Cif / Vehiculo dañado */
            &#cif, &#vehiculo-danado {
                .make-md-column(6.9);
                .make-sm-column(6.9);
                .make-xs-column(4.9);
                @media(max-width:768px) {
                    width: 25%;
                }
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            /* Apellido1 Apellido2 */
            &#apellido1,
            &#apellido2 {
                .make-md-column(6.9);
                .make-sm-column(6.9);
                .make-xs-column(4.9);
                @media(max-width:768px) {
                    width: 26%;
                }
                @media(max-width:480px) {
                    
                }
            }
            /* Nombre */
            /* Razón social */
            /* Nº poliza */
            &#nombre,
            &#razon-social,
            &#numero-poliza{
                .make-md-column(14);
                .make-sm-column(14);
                .make-xs-column(9);
                @media(max-width:768px) {
                    width: 53.666667%;
                }
            }
            &#nombre {
                @media(max-width:480px) {
                    width: 46.7%;
                }
            }
            &.form-control {
                &:focus {
                    border-color: @color1;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                }
            }
        }
        /* Estilos desplegable select */
        .flecha-roja{
            overflow: hidden;
            position: relative;
            padding: 10px 0;
            &:after {
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid @color1;
                position: absolute;
                top: 60%;
                right: 9px;
                content: "";
            }
        }
        select {
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 3px 6px !important;
            /* U.O */
            /* Tipo acto */
            &#uo,
            &#tipo-acto {
                .make-md-column(15);
                .make-sm-column(15);
                .make-xs-column(10);
            }
            &#tipo-tramitacion, &#provincia, &#tipo-encargo{
                .make-md-column(14);
                .make-sm-column(14);
                .make-xs-column(10);
                @media(max-width:768px) {
                    width: 54%;
                }
                @media(max-width:480px) {
                    width: 89.5%;
                }
            }
            &#tipo-encargo {
                @media(max-width:480px) {
                    width: 96.7%;
                }
            }
            /* Val.pte.de enviar / Val.reiterada */
            &#valor-pte-enviar, &#valor-reiterada {
                .make-md-column(4.8);
                .make-sm-column(4.8);
                .make-xs-column(3.8);
                @media(max-width:768px) {
                    width: 25%;
                }
                @media(max-width:480px) {
                    width: 38%;
                }
            }
            &.form-control {
                &:focus {
                    border-color: @color1;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                }
            }
        }
        span {
            /* margin-left: 5px; */
        }
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 1px dotted @color8;
            margin-left: 5px;
            margin-right: 5px;
        }
        button {
            float: right;
            margin-right: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 2px;
            text-transform: uppercase;
            &:focus {
                outline: none;
            }
        }
        .funciones-buscador{
            i{
                color: @color2;
                &.icon-pantallas_aplicaciones-39 {
                    .make-md-column(1);
                    padding: 0;
                    margin-top: 5px;
                    margin-left: 5px;
                    text-align: center;
                    @media(max-width:640px) {
                        top: 5px;
                    }
                }
                &.icon-pantallas_aplicaciones-40 {
                    .make-md-column(1);
                    padding: 0;
                    margin-top: 5px;
                    margin-left: 5px;
                    text-align: center;
                    @media(max-width:640px) {
                        top: 5px;
                    }
                }
                &#limpiar-localidad, &#limpiar-tramitador, &#limpiar-identificacion {
                    @media(max-width:768px) {
                        top: 5px;
                    }
                    @media(max-width:480px) {
                        display: flex;
                        left: 4.7px;
                        top: 5px;
                    }
                }
                &#limpiar-referencia-perito, &#limpiar-referencia-aseguradora {
                    @media(max-width:480px) {
                        display: none;
                    }
                }
            }
            #limpiar-uo-gabinete, #limpiar-rcm-gabinete {
                @media(max-width:480px) {
                    display: none;
                }
            }
            @media(max-width:768px) {
                height: 0;
            }
        }
        .funciones-buscador-combo{
            i{
                color: @color2;
                &.icon-pantallas_aplicaciones-40 {
                    .make-md-column(1);
                    margin-top: -15px;
                    margin-left: 5px;
                    padding-left: 0px;
                    padding-right: 0px;
                    @media(max-width:768px) {
                        top: -15px;
                    }
                    @media(max-width:480px) {
                        top: 0;
                    }
                }
                &#limpiar-tipo-tramitacion, &#limpiar-provincia {
                    @media(max-width:480px) {
                        display: flex;
                        left: 4.7px;
                    }
                }
            }
            @media(max-width:768px) {
                height: 0;
            }
        }
        .funciones-buscador-postal {
            .make-md-column(10.5);
            i{
                color: @color2;
                &.icon-pantallas_aplicaciones-40 {
                    float: right;
                    margin-top: 7px;
                    padding-left: 1px;
                    padding-right: 0px;
                }
                &#limpiar-codigo-postal {
                    @media(max-width:768px) {
                        left: 10px;
                    }
                    @media(max-width:640px) {
                        left: -8px;
                    }
                    @media(max-width:480px) {
                        display: flex;
                        left: 16px;
                    }
                }
                &#limpiar-expediente {
                    display: none;
                }
            }
        }
        .funciones-buscador-vehiculo {
            .make-md-column(8.3);
            i{
                color: @color2;
                &.icon-pantallas_aplicaciones-40 {
                    float: right;
                    margin-top: 7px;
                    padding-left: 1px;
                }
                &#limpiar-vehiculo-danado {
                    @media(max-width:768px) {
                        left: 10px;
                    }
                    @media(max-width:640px) {
                        left: -8px;
                    }
                    @media(max-width:480px) {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Modal buscador */
#modal-tipo-dano {
    &.modal {
        .modal-dialog {
            .modal-content {
                border-radius: 0px;
                color: @color2;
                .modal-header {
                    padding: 5px;
                    font-weight: bold;
                    border-bottom: none;
                    i {
                        &.bullet-remove {
                            float: right;
                        }
                    }
                }
                .modal-body {
                    padding-top: 0px;
                    padding-right: 15px;
                    padding-left: 15px;
                    padding-bottom: 0px;
                    .radio {
                        .make-md-column(24);
                        margin-left: 15px;
                        clear: both;

                    }
                    .checkbox {
                        .make-md-column(24);
                        margin-top: 0px;
                        display: inline-block;
                        clear: both;
                        float: left;
                    }
                }
                .modal-footer {
                    border-top: none;
                    button {
                        margin-right: 0px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        clear: both;
                    }
                }
            }
            @media(max-width:768px) {
                width: 300px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
