// main: main.less
/*----- Componente buscador -------*/

.contenido-buscador {
    font-size: 14px;
    background: @color9;
    border: 2px solid @color8;
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    i {
        cursor: pointer;
        font-style: normal;
        &.icon-pantallas_aplicaciones-38 {
            font-size: 27px;
            vertical-align: sub;
        }
    }
    span {
        &#buscador-desplegable {
            margin-left: 6px;
            cursor: pointer;
            &.abierto {
                background-image: url(../img/flecha-izquierda.png);
                background-repeat: no-repeat;
                margin-top: 5px;
                width: 13px;
                height: 14px;
                display: inline-block;
                @media(max-width: 768px) {
                    background-image: url(../img/flecha-arriba.png);
                    margin-left: 13px;
                }
            }
            &.cerrado {
                background-image: url(../img/flecha-derecha.png);
                background-repeat: no-repeat;
                margin-top: 5px;
                width: 13px;
                height: 14px;
                display: inline-block;
                @media(max-width: 768px) {
                    background-image: url(../img/flecha-abajo.png);
                    margin-left: 13px;
                }
            }
        }
    }
    form {
        .form-group {
            width: 100%;
        }
        label {
            margin-top: 5px;
            padding-right: 5px !important;
            padding-left: 5px !important;
            float: left;
            text-align: right;
            color: @color2 !important;
            &[for="expTr1"],
            &[for="uo"],
            &[for="rcm"],
            &[for="alta-desde"],
            &[for="matricula"],
            &[for="tipo-acto"],
            &[for="nif-cif"],
            &[for="apellido1"],
            &[for="razon-social"],
            &[for="numero-poliza"],
            &[for="aseguradora"],
            &[for="siniestro"] {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(5);
            }
            &[for="siniestro-desde"],
                {
                .make-md-column(7);
                .make-sm-column(7);
                .make-xs-column(5);
            }
            &[for="siniestro-hasta"],
            &[for="alta-hasta"] {
                .make-md-column(2);
                .make-sm-column(2);
                .make-xs-column(2);
            }
        }
        input {
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 3px 6px !important;
            color: @color2 !important;
            /* exp./Tr. */
            &#expTr1 {
                .make-md-column(4);
                .make-sm-column(4);
                .make-xs-column(3);
                @media(max-width:480px) {
                    width: 26.5%;
                }
            }
            &#expTr2 {
                .make-md-column(2);
                .make-sm-column(2);
                .make-xs-column(2);
                @media(max-width:480px) {
                    width: 12.333333%;
                }
            }
            &#expTr3 {
                .make-md-column(2);
                .make-sm-column(2);
                .make-xs-column(2);
                @media(max-width:480px) {
                    width: 12.333333%;
                }
            }
            &#expTr4 {
                .make-md-column(4);
                .make-sm-column(4);
                .make-xs-column(3);
                @media(max-width:480px) {
                    width: 26.5%;
                }
            }
            &#expTr5 {
                .make-md-column(2);
                .make-sm-column(2);
                .make-xs-column(2);
                @media(max-width:480px) {
                    width: 12.333333%;
                }
            }
            /* R.C.M */
            &#rcm {
                .make-md-column(5);
                .make-sm-column(5);
                .make-xs-column(3);
                @media(max-width:480px) {
                    width: 26.5% !important;
                }
            }
            /* F.siniestro */
            /* F.alta*/
            &#siniestro-desde,
            &#siniestro-hasta,
            &#alta-desde,
            &#alta-hasta {
                .make-md-column(5);
                .make-sm-column(5);
                .make-xs-column(2);
                @media(max-width:480px){
                    width: 26.5% !important;
                }
            }
            &#siniestro-hasta, &#alta-hasta {
                @media(max-width:480px) {
                    margin-left: 28%;
                }
            }
            &#siniestro-desde {
                /* margin-left: 3px; */
            }
            /* Matrícula */
            &#matricula {
                .make-md-column(5);
                .make-sm-column(5);
                .make-xs-column(3);
                @media(max-width:480px) {
                    width: 26.5% !important;
                }
            }
            /* Nif/Cif */
            &#nif-cif {
                .make-md-column(7.4);
                .make-sm-column(7.4);
                .make-xs-column(5.4);
                @media(max-width:480px) {
                    width: 26.5% !important;
                }
            }
            /* Apellido1 Apellido2 */
            &#apellido1,
            &#apellido2 {
                .make-md-column(7.4);
                .make-sm-column(7.4);
                .make-xs-column(5.4);
                @media(max-width:480px) {
                    width: 46.7% !important;
                }
            }
            /* Razón social */
            /* Nº poliza */
            /* Ent.aseguradora */
            /* Siniestro */
            &#razon-social,
            &#numero-poliza,
            &#aseguradora,
            &#siniestro {
                .make-md-column(15);
                .make-sm-column(15);
                .make-xs-column(10);
                @media(max-width:480px) {
                    width: 95% !important;
                }
            }
            &.form-control {
                &:focus {
                    border-color: @color1;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                }
            }
        }
        /* Estilos desplegable select */
        .flecha-roja {
            overflow: hidden;
            position: relative;
            padding: 10px 0;
            &:after {
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid @color1;
                position: absolute;
                top: 60%;
                right: 9px;
                content: "";
            }
        }
        select {
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 3px 6px !important;
            /* U.O */
            /* Tipo acto */
            &#uo,
            &#tipo-acto {
                .make-md-column(15);
                .make-sm-column(15);
                .make-xs-column(10);
                @media(max-width:480px) {
                    width: 95% !important;
                }
            }
            &.form-control {
                &:focus {
                    border-color: @color1;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(167, 11, 44, 0.6);
                }
            }
        }
        span {
            margin-left: 5px;
        }
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 1px dotted @color8;
            margin-left: 5px;
            margin-right: 5px;
        }
        button {
            float: right;
            margin-right: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 2px;
            text-transform: uppercase;
            &:focus {
                outline: none;
            }
            @media(max-width:768px) {
                margin-right: auto !important;
                margin-left: auto !important;
            }
        }
    }
    .contenido-participe {
        span {
            &.descriptiva {
                @media(max-width: 768px) {
                    display: none;
                }
                @media(max-width:640px) {
                    display: inline;
                }
            }
        }
    }
    .contenido-button {
        @media(max-width: 768px) {
            display: block;
            width: 55%;
            clear: both;
        }
    }

    @media(min-width:480px) {
        /* Estilos placeholder responsive */
        input::-webkit-input-placeholder {
            color: transparent;
        }
        input:-moz-placeholder {
            color: transparent;
        }
        input:-ms-input-placeholder {
            color: transparent;
        }
    }

}