// main: main.less


/*---------------------------------------*/


.cont_generico #contenido-principal {
  margin: 30px 0 0 0;
  min-height: 400px;

  section {
    min-height: 300px;
    .layout-0-16-8;
    .main_column {
      h1 {
        .header_gen(32px);

      }
      h2 {
        .header_gen(16px);
        color:@color3;
        font-family: @font-corporativa-sb;
      }
      h1+h2 {margin-top: 6px;}
      h1+p, h2+p {margin-top: 15px;}
      p+h2, ul+h2, ol+h2, figure+h2, dl + h2, div+h2 {margin-top: 30px;}


      figure.imagen_generica {
 			 width: 100%;
 			 margin: 15px 0;
       border: 1px solid @color7;
       .pie_estatico;
 			 img {
 			 max-width: 100%;
 			 }
 		 }

     figure.img_peq {
     	width: 50%;
      float: left;
      margin: 4px 15px 4px 0;
     	text-align: center;
     	img {
     		max-width: 100%;
     	}
      @media (max-width: 600px) {width: 100%}
     }
     figure.img_peq.dere {
       float:right;
       margin:0 0 0 15px;
     }
    }
    .aside_right{
        h2 {.header_gen(18px);}
    }
  }
}
