// main: main.less


/*-----------------------------footer------------------------------------*/

.footer {
	  padding:0;

		#owner{
			width:273px;
		    float: left;
            margin-top: 20px;
		}


#menu-basico {
	width: 100%;
	padding:0 0 0 280px;
  text-align: center;
  ul {
    padding: 20px 0;

  li {
    display: inline-block;

    font-family: @font-corporativa-med;

		& + li {

			&:before {
                 content:"";
				 width: 1px;
				 height: 14px;
				 display: inline-block;
				 border-left: 2px solid @gris5;
				 margin: 0 10px ;
			}
		}
      a {
          &:hover, &:focus {
              color: @color1; 
              outline: none;
          }
      }
  }
}
}

@media(max-width: @screen-md) {
		ul li + li:before { margin: 0 6px ;}
}
@media(max-width: 850px) {
	#owner{
		float: none;
		width: 100%;
		text-align: center;
	}
	 #menu-basico {padding: 0; }
}
}
