// main: main.less


/*-----------------------------formularios (antiguo)------------------------------------*/



.sombra-int {
	border:none;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.40);
     -moz-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.40);
          box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.40);
}



label {
	font-weight: normal;
	color: @gris3;
}

input.form-control[type="text"] {
	color: @gris1;
	font-style: normal;
	margin-top: 3px;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	border: 1px solid @color1;
	padding: 3px 6px;
}

input.input_fecha {
	width: 7em;
}

select.form-control {
	color: @gris1;
	font-style: normal;
	margin-top: 3px;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	border: 1px solid @color1;
	padding: 3px 6px;
}

.c_form {display: block; float: left; padding-right: 10px;}
label.c_form  {text-align: right;  margin-bottom: 0;  padding-top: 7px;}

.placeholder {color:@color1-inverso; opacity:  0.8; font-style: italic;}






//
