// main: main.less


/*----------------------------------------genericos--------------------------------------------*/


html body {
	font-family: @font-general;
	font-size: 15px;
}

body {

}

#wrap {

}


#header {
	background-color: transparent;
}


a {
    color: @color1;
		font-family: @font-corporativa-med;
		&:hover, &:focus {
			color: @color1_hover;
			text-decoration: none;
		}
}

ul, li {
	list-style: none;
	margin: 0 ;
	padding: 0;
}

h1 {
	.header_gen(28px);
	clear: both;
	.container_generico & {margin-bottom: 10px;}
}


h2 {
	.header_gen(28px);
	color: @color2;
	clear: both;
}

h3 {
	.header_gen(20px);
	clear: both;
}
h4 {
	.header_gen(18px);
	color:@gris3;
	clear: both;
}

h5, h6 {
 .header_gen(17px);
 color:@gris4;
 clear: both;
}



//clase para ocultar contenido de forma accesible
.oculto, .oculto:hover, .oculto:visited {position:absolute; top:-100px; width:1px; height:1px; overflow:hidden; font-size:x-small;}
.oculto:active, .oculto:focus {position:static;width:auto;height:auto;text-align:center;margin:0 auto}


input::placeholder {  font-style: italic; font-size: 14px}
input::-webkit-input-placeholder  { font-style: italic; font-size: 14px}
input:-ms-input-placeholder {font-style: italic; font-size: 14px}
input:-moz-placeholder{font-style: italic; font-size: 14px}



//ocultar la sombra del borde superior
.hide_top_shadow {
	position: relative;
	 &:before {
		 content: '';
		 display: block;
		 width: 100%;
		 background-color: #fff;
		 height: 3px;
		 position: absolute;
		 top:-2px;
	 }
}


//bullet triangulas para listados
.bullet_tri (@font_size: 12px; @color: @color1) {
	position: relative;
	.icon_bullet(@font_size);
	&:before {
    &:extend(#wrap .bullet-caret-right:before);
  	color: @color;
 }
}



ul.listado_generico {
	margin: 15px 0;

 > li {
	 .bullet_tri(14px ; @color2);
	 margin: 0 0 15px 25px;

	> ul {
		 margin: 20px 0 5px 0;
		/* float: left;*/
	 	width: 100%;
		> li {
			  margin: 0 0 10px 20px;
				.bullet_tri (12px ; @color1);
				color: @gris3;
				> ul {
					> li {
						  margin:15px 0 5px 15px;
							.bullet_tri (10px);
							&:before {
								&:extend( .bullet-circle:before);
								font-size: 0.28em;
								margin-right: 1em;

							}
							color: @gris4;

					 }

				 }
		 }

	 }
}
}


ol.listado_generico {
	    list-style-type: decimal;
			margin: 15px 0;
			> li {
				list-style-type: decimal;
				margin: 0 0 15px 0;
			}
}



//listado especial con el numeral personalizado. Permite empezar por 0.
 ol.listado_num_pers {
	margin: 15px 0;
	 list-style: none;
	  counter-reset: my-counter ;
		&.zero {
			counter-reset: my-counter -1 ;
		}
		> li {
			list-style: none;
			position: relative;
			padding-left: 15px;
			margin: 0 0 20px 0;
			&:before{
			content: counter(my-counter);
			counter-increment: my-counter;
			position: absolute;
      left: -10px;
      top: -5px;
			.header_gen(20px);
			font-family: @font-corporativa-ext;
		}
			}
}



 ol.listado_generico.decimal {
	    list-style-type: decimal;
			> li {
				list-style-type: decimal;
			}
}

 ol.listaletras {
	 &:extend(ol.listado_generico all);
	    list-style-type: lower-latin;
			> li {
				list-style-type: lower-latin;
			}
}

 ol.num_romanos {
	&:extend(ol.listado_generico all);
	    list-style-type: upper-roman;
			> li {
				list-style-type: upper-roman;
			}
}


/*--------------------definition list--------------------------*/

dl.definition_list_gen {
     .definition_list(40%, 60%);
}


dl.definition_list_esp {
		.definition_list(40%, 60%);
	  border: 1px solid @gris8;
    border-left: 3px solid @color2;
		background-color: @gris10;
		padding: 5px 0;
		dt,dd {padding: 10px 7px }
}



.definition_list (@size1 , @size2) {
	display: block;
	float: left;
	margin: 10px 0;
	width: 100%;
	.clearfix;
  dl {
		width: 100%;
	}
	dt,dd {
		display:block;
		float: left;
		line-height: 1.1em;
	}
   dt {
		width: @size1;
		font-weight: normal;
		color:@gris4;
		clear: left;
		text-align: right;
		padding: 5px 7px;
		position: relative;
		&:after {
			content:':';
			display: inline-block;

		}
	}
	dd {
   width:@size2;
	 padding: 5px 7px;
	 word-wrap: break-word;
	}
}



.tabla_gen  {
    margin:15px auto;
		overflow-x: hidden;
		table {
			border-bottom: 1px solid @gris6;
			  thead {
					th, td{
						.header_gen(16px);
						line-height: 18px;
						font-weight: normal;
						color: @gris5;
						padding: 4px 10px;
						border-bottom: 2px solid @color2;
						vertical-align: bottom;
						br + br {display: none;}
					}
				}
				tbody {
					border-top: 1px solid @gris6;
					tr:nth-child(2n+1) {
						background-color: @gris8;
					}
					th, td {
					    border-top: none;
							font-family:Arial, Helvetica, sans-serif;
							font-size:13px;
							padding: 8px 10px;
							p {margin: 0}
					}
					th {
						.header_gen(14px);
					    border-right: 2px solid @color2;
							font-weight: bold;
							color: @gris4;
							border-bottom: none;
					}
				}
				tfoot {
					border-top: 1px solid @gris6;
					tr {
						background-color: @gris7;
						th, td {
							font-family:Arial, Helvetica, sans-serif;
							font-size:13px;
							padding: 10px 10px;
							font-weight: bold;
							p {margin: 0}
						}
					}

				}
		}
}


.dotted-line {
	    content:'• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •';
}



.dotted_left {
	    position: relative;
			overflow: hidden;
		&::before {
		 .dotted-line;
			display:block;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 5px;
			color: @gris6;
			font-size: 9px;
			line-height: 7px;
		}
}

.dotted_top{
			overflow: hidden;
		&::before {
		 .dotted-line;
		 display:block;
		 overflow: hidden;
		 color: @gris6;
		 font-size: 9px;
		 line-height: 7px;
		 width: 100%;
		 margin: 0 0 10px 0;
		 text-overflow:clip;
		 height: 5px;
		 white-space: nowrap;
		}
}


.dotted_bottom{
			overflow: hidden;
		&::after {
		 .dotted-line;
		 display:block;
		 overflow: hidden;
		 color: @gris6;
		 font-size: 9px;
		 line-height: 7px;
		 width: 100%;
		 margin: 0 0 10px 0;
		 text-overflow:clip;
		 height: 5px;
		 white-space: nowrap;
		}
}


.transition_efect,
.transition_efect:hover {
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.no-transition_efect,
.no-transition_efect:hover {
    -webkit-transition: all 0 ease-out;
       -moz-transition: all 0 ease-out;
         -o-transition: all 0 ease-out;
            transition: all 0 ease-out;
}







/*--------------------------contenido generico------------------------------------*/


.container_generico {
     figure {
			 width: 100%;
			 margin: 15px 0;
			 img {
			 max-width: 100%;
			 }
		 }
}

/*----------------pies foto---------------*/

.pie_estatico {
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  figcaption {
    font-size: 12px;
    border-top: 1px solid fade(#fff, 50%);
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: fade(@color1 , 0.8);
    color: #fff;
    top: auto;
    width: 100%;
    background: fade(@color1, 80%) none repeat scroll 0 0;
    span {
        display: block;
        float: left;
        width: 100%;
        padding:0 80px 0 10px;
        text-align: left;
    }
    a.descargar {
       @size: 40px;
       text-align: center;
        float: right;
        margin: -@size 15px 0px 0px;
        color: #fff;
        background: fade(@color1, 80%) none repeat scroll 0 0;
        border-radius: @size/2;
        width: @size;
        height: @size;
        .icon_bullet(30px);
        &:before {&:extend( .bullet-arrow-down:before);}
        span {  .oculto;}
        &:before { margin:5px 0 0  0 ; }
        &:hover{
          background: fade(#fff, 80%) none repeat scroll 0 0;
          color: @color1;
        }
    }
  }

}


.pie_dinamico {
    figcaption {
      bottom: 0;
      left: 0;
      top: auto;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    }
    &:hover, &.cs-hover {
      figcaption {
      	opacity: 1;
      	-webkit-transform: translateY(0px);
      	-moz-transform: translateY(0px);
      	-ms-transform: translateY(0px);
      	transform: translateY(0px);
      	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
      	transition: transform 0.4s, opacity 0.1s;
      }
    }
  }



//
