// main: main.less
/*-------------------------------------cabecera superior----------------------------------------------*/

#header {
    @izq_width: 180px;
    @alto_logo: 60px;
    height: auto;
    padding: 0;
    width: 100%;
    .clearfix;
    & > div {
        /* padding:0 15px; */
    }

    .cab-izq {
        width: @izq_width;
        float: left;
        margin: (@alto-cab - @alto_logo)/2 0 0 0;
        padding: 0;
        overflow: inherit;
        @media(max-width: 768px) {
            width: 120px;
        }
    }
    .cab-centro {
        float: left;
        margin: 35px 0 0 0;
        @media(max-width: 768px) {
            position: absolute;
            margin: 20px 0 0 0;
            left: 130px;
            width: auto;
            h1 {
                font-size: 16px;
            }
        }
    }

    .cab-dere {
        height: @alto_logo;
        width: 100%;
        padding: 16px 0 0 @izq_width;
        margin: 25px 0 0 0;
        text-align: right;
        font-size: 14px;
        font-style: italic;
        color: @color2;
        @media(max-width:768px) {
            width: auto;
            position: absolute;
            padding: 30px 0 0 135px;
        }
        .clearfix;
        i {
            vertical-align: sub;
            margin-left: 5px;
            font-size: 20px;
            &:hover {
                color: @color1;
                cursor: pointer;
            }
        }

    }
}





//