// main: main.less

/*-------------------------fondo header home-------------------*/

.home .header_group {
  .fondo-aux {
    background: url("@{images}/fondo_cab_home.png") 60% 30px no-repeat transparent ;
    background-size: 100% auto;
    @media (max-width:  800px) {background-position: 80% 30px}
    @media (max-width: 1200px) {background-size: 1200px auto;}
    @media (min-width: 1600px) {background-size: 1600px auto;}
    .clearfix;
  }
}


/*---------------------claims cabecera home--------------------------*/
.home #claim-area {
  margin: 12% 0 30px 0;
  #claim {
   .make-md-column(10);
   .header_gen(34px);
   margin: -5px 0 0 0;
   text-align: right;
   line-height: 40px;
   padding: 0 40px 0 20px;
   span {display: inline-block;}
 }
 #claim-extend {
   .make-md-column(14);
   font-family: @font-corporativa-reg;
   font-style: italic;
   color: @color1;
 }


  @media (min-width: 1601px) {margin-top: 230px;}
  @media (max-width: 1600px) {margin-top: 14%;}
  @media (max-width: 1200px) {margin-top: 156px;}
  @media (max-width: 992px) {
    #claim {
      padding:0 15px;
      font-size:32px;
    }
  }
  @media (max-width: 600px) { #claim {font-size:30px } }
  @media (max-width: 540px) {
    #claim {
      font-size:24px;
      line-height: 26px;
       }
     }
    }





/*-------------------------primer bloque home----------------------*/
#actualidad {
  .layout-0-16-8;
  h2 {  margin:0 0 15px 0;}
  div + h2 {margin-top: 30px}
  aside.aside_right {padding:0;}



#nuestros_blogs {
  margin:0 0 20px 0;
  ul {
    li{
      position: relative;
      border:1px solid @color1;
      overflow: hidden;
      +li {margin-top: @grid-gutter-width;}
      figure {
        img {
        max-width: 100%;
        }
      }
      .text-box {
        position: absolute;
        font-family: @font-corporativa-sc-lt;
        bottom:15px;
        left:0;
        padding:6px 12px;
        background-color: fade(@color1, 80%);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        max-width: 500px;
        color:@color1-inverso;
        text-shadow: 0 0 4px #000;
        h3 {
          color:@color1-inverso;
          font-family: @font-corporativa-c-md;}
      }
      &.dere .text-box{
        right: 0;
        left: inherit;
      }
      &.top .text-box{
        top: 15px;
        bottom: inherit;
      }
      &.naranja {
        border:1px solid @color2;
        .text-box{
        background-color: fade(@color2, 80%);
      }
        }
      &.violeta {
          border:1px solid @color3;
        .text-box{
        background-color: fade(@color3, 80%);
      }
        }
    }
  }

  @media (max-width: 850px) {
    ul.entradas_dest li div.text-box {
      position:inherit;
      top:auto;
      bottom: auto;
      left: auto;
      right: auto;
      width: 100%;
      max-width: inherit;
    }
  }
}


#agenda {
 @ancho-time:140px;
  .make-sm-column(12);
 .make-md-column(24);
 margin: 0 0 20px 0;


>div {
  background-color: darken(@color7, 10%);
  color:@color2-inverso;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;



  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3),
               0px 0px 5px rgba(0, 0, 0, 0.3),
               0px 0px 2px rgba(0, 0, 0, 0.6);

  ul {
    li{
      +li {  margin-top: 15px;}

      time {
        color: @color2-inverso;
        font-family: @font-corporativa-reg;
        display: block;
        width: @ancho-time;
        float: left;
        &:before {
          &:extend(.icon-calendario:before);
          .icofont;
          font-size: 24px;
          line-height: 20px;
          vertical-align: middle;
          margin: 0 5px 0 0;
        }
      }
      span {
        color: @color2-inverso;
        padding-left: @ancho-time;
        display: block;
        font-family: @font-corporativa-reg;
      }
    }
  }

}
@media (max-width: @screen-xs) {
div ul li {
  +li {  margin-top: 25px;}
  time {
    float:none;
  }
  span {
    width: 100%;
    padding-left: 30px;
  }

  }
  }



}

#ultimos-tweets {
    .make-sm-column(12);
    .make-md-column(24);
  > div {
  border:1px solid @color7;
  @media (max-width: @screen-sm) {
     max-width: 520px;
     margin:0 auto;
    }
  }

}

}


#destacados {

  margin:-300px 0 -400px 0;
  padding: 300px 0 400px 0;
  min-height: 900px;
/*  background: url("@{images}/fondo_dest_home.png") center 0 repeat-x ;*/
/*  background-size: 100% auto;*/
  @media (max-width: 1200px) {
    //   background-size: 1200px auto;
  }

  ul {
    li {
           background-color: #fff;
           border: 1px solid @color7;
           text-align: center;
    }
  }
}


#canales {
    >ul >li {
      margin: 30px;
      min-height: 313px;
      padding: 15px 30px 15px 30px;
      color: #fff;
      +li {margin-top:0}
      background: 70% bottom no-repeat ;

      &#formacion {
        background-image: url("@{images}/fondo_formacion.jpg");
        background-color: rgba(104,0,37,1);
      /*  ul li:before, ul li a:before,*/ ul li span {.resplador(104,0,37,0.4);}
      }
       &#recursos{
         background-image: url("@{images}/fondo_recursos.jpg");
         background-color: rgba(176,92,11,1);
      /*   ul li:before, ul li a:before,*/ ul li span {.resplador(176,92,11,0.4);}
       }
       &#tecnologia{
         background-image: url("@{images}/fondo_tecnologia.jpg") ;
         background-position: 80% bottom;
         background-color:  rgba(0,46,64,1);
        /* ul li:before, ul li a:before,*/ ul li span {.resplador(0,46,64,0.4);}
       }

      h2 {color: #fff; margin:0 0 15px 0;}
      p {max-width: 600px;}
      ul {
      /*  margin: 0 300px 0 0;*/
      width: 60%;
        li {
          .icos_hexagono;
          margin: 0 0 10px 0;
        }
    }
  }
}



















//
