// main: main.less


/*aqui se definen los iconos complejos que se usen. Queda este de ejemplo*/

.icos_hexagono {
  display: inline-block;
   position: relative;
   width: 120px;
   vertical-align: top;
   font-size:80px;
   line-height: 12px;
 &:before {
   &:extend(.icon-hexagono:before);
   .icofont;
   display: block;
   width: 120px;
   height: 80px;
   font-size: 1em;
   line-height: 1em;
   text-align: center;
   position:absolute;
    .resplador(255,255,255,0.4);
 }
 a {
   color:#fff;
   padding: 0;
   display: block;
   width: 120px;
   text-align: center;
   line-height: 16px;
   &:before  {
     content:'';
    .icofont;
     display: block;
     width: 120px;
     height: 80px;
     font-size: 0.55em;
     line-height: 1.8em;
      .resplador(255,255,255,0.4);
   }
   span {
     font-size: 14px;
      font-family: @font-corporativa-sc-lt;
     display: block;
     .resplador(255,255,255,0.4);
   }
 }

}




//
