// main: main.less
/*-----------------------------------layout-----------------------------------------*/

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}



body > #wrap {
    min-height: 100%;
    margin-bottom: -@alto-footer;
    width: 100%
}

html .container {
    //   width: 1260px;
}

html .container-fluid {
    max-width: @max-width;
    min-width: @min-width;
    position: relative;
    width: 100%;
}

main {
    width: 100%;
    .clearfix;
}

#menu-pie {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

.prefooter {
    width: 100%;
    height: @alto-footer;
}


.footer {
    bottom: 0;
    height: @alto-footer;
    width: 100%;
}

/*----------------------mixin layout columnas-----------------------*/

.columns_layout(@a, @b, @c) {
    aside.aside_left {
        .make-md-column(@a);
        float: left;
        width: 100%;

    }
    .main_column {
        .make-md-column(@b);
        float: left;
        width: 100%;
    }
    aside.aside_right {
        .make-md-column(@c);
        float: left;
        width: 100%;
    }
}

/*--------------------------asignacion mixin por secciones-------------------------*/

.layout-0-24-0 {
    .columns_layout(0, 24, 0);
}


.layout-0-18-6 {
    .columns_layout(0, 18, 6)
}


.layout-0-16-8 {
    .columns_layout(0, 16, 8)
}


.layout-6-18-0 {
    .columns_layout(6, 18, 0)
}


.layout-5-14-5 {
    .columns_layout(5, 14, 5)
}




/*-------------------------------franjas contenido------------------------------------*/

//cada uno de las franjas
section {
    width: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    margin: 20px 0 30px 0;
    padding: 10px 0;
    .clearfix;

    /*position: relative;*/
    &.no_expand {
        box-shadow: none;
        background-color: @gris7;
        .container-fluid {
            padding: 10px 100px;
            .main_column {
                background-color: @gris10; //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.176);
                border: 1px solid @color1;
            }
        }
    }

    &.no-solid {
        box-shadow: none;
        background-color: transparent;
    }
}

/* Contenido principal */

#contenido-principal {
    /* Se debe revertir para responsive */
    .contenido {
        margin-top: 40px;
        width: 100%;
        background-color: @color1-inverso;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
        padding: 15px 10px;
        @media(max-width:768px) {
            margin-top: 10px;
        }
        aside {
            display: block;
            width: 40%;
            float: left;
            -webkit-transition: width 0.5s;
            /* Safari */
            transition: width 0.5s;
            &.close {
                width: 3%;
                -webkit-transition: width 0.5s;
                /* Safari */
                transition: width 0.5s;
                @media(max-width: 768px) {
                    height: 50px;
                    -webkit-transition: width 0s;
                    /* Safari */
                    transition: width 0s;
                }
                .contenido-buscador {
                    height: 667px;
                    @media(max-width: 768px) {
                        width: 100%;
                        height: 25px;
                    }
                }
                form {
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0.2s, opacity 0.2s linear;
                    @media(max-width: 768px) {
                        transition: visibility 0s, opacity 0s linear;
                    }
                }
                @media(max-width:768px) {
                    width: 100%;
                    /* display: flex;
                    height: auto;*/
                }
            }
            form {
                visibility: visible;
                opacity: 1;
                transition: visibility 0.2s, opacity 0.2s linear;
            }
            @media(max-width:768px) {
                width: 100%;
                /* display: flex;
                height: auto;*/
            }
            .contenido-expediente {
                @media(max-width: 768px) {
                    width: 50%;
                    float: left;
                    border-right: 1px dotted @color8; 
                }
                @media(max-width:640px)  {
                    width: 100%;
                    border-right: none;
                }
                @media(max-width:480px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    label {
                      display: none;  
                    }
                }
            }
            .contenido-participe {
                @media(max-width: 768px) {
                    width: 50%;
                    float: right;
                }
                @media(max-width:640px) {
                    width: 100%;
                }
                @media(max-width:480px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    label {
                      display: none;  
                    }
                }
            }
            .contenido-gabinete {
                @media(max-width: 768px) {
                    width: 50%;
                    float: left;
                    border-right: 1px dotted @color8; 
                }
                @media(max-width:640px)  {
                    width: 100%;
                    border-right: none;
                }
                @media(max-width:480px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    label {
                      display: none;  
                    }
                }
            }
            .contenido-valores {
                @media(max-width: 768px) {
                    width: 50%;
                    float: right;
                }
                @media(max-width:640px) {
                    width: 100%;
                }
                @media(max-width:480px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    label {
                      display: none;  
                    }
                }
            }
            .contenido-asegurado-reclamante {
                @media(max-width: 768px) {
                    width: 50%;
                    float: left;
                }
                @media(max-width:640px) {
                    width: 100%;
                }
                @media(max-width:480px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    label {
                      display: none;  
                    }
                }
            }
            .contenido-buscador {
                @media(max-width: 768px) {
                    margin-bottom: 15px;
                }
            }
        }
        section {
            width: 60%;
            -webkit-transition: width 0.5s;
            /* Safari */
            transition: width 0.5s;
            background-color: @color1-inverso;
            padding: 0;
            float: right;
            box-shadow: none;
            margin: 0px;
            &.expand {
                width: 96.7%;
                -webkit-transition: width 0.5s;
                /* Safari */
                transition: width 0.5s;
                @media(max-width: 768px) {
                    width: 100%;
                }
            }
            @media(max-width:768px) {
                width: 100%;
            }
            &#contenido-datos-materiales {
                width: 100%;
            }
            @media(max-width:768px) {
                box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
                padding-top: 5px;
            }
            @media(max-width:480px) {
                box-shadow:none;
            }
        }
        @media(max-width:768px) {
            box-shadow: none;
        }
    }
}


//