// main: main.less
/*--------------------------------------mixins--------------------------------------------------*/


.header_gen(@font-size: 24px){
  font-family: @font-corporativa-reg;
  letter-spacing:@letter-spacing;
  color: @color1;
  font-size: @font-size;
  margin: 0;
	font-weight:normal;
}


.icon_own(@font-size) {
	&:before {
		.icofont;
		font-size: @font-size;
		display:inline-block;
		line-height:  @font-size;
		margin:-(@font-size/4) @font-size/4 0 0;
		vertical-align: middle;
	}
}

.icon_brand(@font-size: 12px) {
	&:before {
		.icofont-brand;
		font-size: @font-size;
		display:inline-block;
		line-height:  @font-size;
		margin:-(@font-size/4) @font-size/4 0 0;
		vertical-align: middle;
	}
}

.icon_bullet(@font-size: 12px) {
	&:before {
		.icofont-bullet;
		font-size: @font-size;
		display:inline-block;
		line-height:  @font-size;
		margin:-(@font-size/4) @font-size/4 0 0;
		vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	}
}



.icon_file(@font-size: 12px) {
	&:before {
		.icofont-file;
		font-size: @font-size;
		display:inline-block;
		line-height:  @font-size;
		margin:-(@font-size/4) @font-size/4 0 0;
		vertical-align: middle;
	}
}

.span_ico {
	display:inline-block;

	.calc_f (width, 100% , 3em);
  vertical-align: middle;
}





.resplador (@a,@b,@c,@d) {
	    text-shadow: 0px 0px 8px rgba(@a, @b, @c, @d),
			             0px 0px 6px rgba(@a, @b, @c, @d),
									 0px 0px 3px rgba(@a, @b, @c, @d);
}




.linea_h (@color) {
	content:'';
	display: block;
	width: 100%;
	height: 1px;
	background-color: @color;
}



.calc_f(@property, @percent , @pixels, @operator:-) {

	@{property}:~"calc(" @percent @operator @pixels ~")" ;
//  @{property}:~"-moz-calc(" @percent ~"-" @pixels ~")" ;
//	@{property}:~"-webkit-calc(" @percent ~"-" @pixels ~")" ;

}


// Placeholder text
.placeholder_fom(@color: @input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: @color;
		font-style: italic;
    opacity: 0.8; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: @color; font-style: italic; opacity: 0.8;} // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; font-style: italic; opacity: 0.8;} // Safari and Chrome
}



.logo_name_desc (@img_size) {
	width: 100%;
	float: left;
	display: table;
	a {height: 100%; display: table-row;}
	figure {
		display: table-cell;
		height: 100%;
		width: @img_size + 5px;
		padding-right: 5px;
		vertical-align: middle;
		img {

		}
		// min-height: 30px;
	}
	.name {
		width:100%;
	}
	.descripcion{
		float: left;
		color: @gris4;
		font-size: 14px;
		// padding-left: @img_size+5px;
		//margin-left: 5px;
		width:100%;
		float: none;
	}
	&:hover {
		.name{
			color: @color1_hover;
		}
		.descripcion{
			color: @color1;
		}
	}
}


//loop

@min_font_size: 83;
@padding_max: 15px;
@padding_min: 5px;
@min-nav-width: @screen-md - 15;
@max-nav-width: @max-width;
@ratio-width:  @max-nav-width - @min-nav-width;


.generar_query_font (20);
.generar_query_font(@n, @i: 1) when (@i =< @n) {
    @tramos: (100-@min_font_size) /20;
    @b: (@min_font_size +  @i*@tramos)/100;
    @unidad: @ratio-width/20;
    @change_width:( @min-nav-width + (@unidad*@i ) );
    @padding_new: @padding_min + ((@padding_max - @padding_min)/20)*@i;
    .escalable_font {
      @media (min-width: @change_width) {
         font-size: (@b * 1em );
         padding-left: @padding_new;
         padding-right: @padding_new;
         letter-spacing:0.025em /@b ;
      }
    }
  .generar_query_font(@n, (@i  + 1));                 //loop
}




//
