// main: main.less
/*-----esto corresponde a otros proyectos, pero creo que el camino de migas y el de pie de pagina se puede aprovechar-------*/

/* Menu Desktop */

#navegacion {
    width: 100%;
    height: 13px;
    background: @color1;
    display: flex;
    @media(max-width: 990px) {
        display: none;
    }
    @media(max-width:360px) {
        min-width: 360px;
    }
    nav.navbar {
        width: 100%;
        background: @color1;
        height: 15px;
        min-height: 0px;
        border: none;
        .navbar-header {
            width: 115px;
            display: flex;
            margin: -18px 0px 0px 0px;
            .navbar-brand {
                color: @color1-inverso;
            }
        }
        .navbar-nav {
            display: flex;
            margin-top: -35px;
            margin-right: 90px;
            float: right;
            li {
                a {
                    color: @color1-inverso;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    text-transform: uppercase;
                    &:hover {
                        background: @color1-inverso;
                        color: @color1;
                    }
                }
                &.active {
                    a {
                        color: @color1;
                        background-color: @color1-inverso;
                    }
                }
                &.dropdown {
                    &.open {
                        a {
                            &.dropdown-toggle {
                                background-color: @color1-inverso;
                                color: @color1;
                                &:focus {
                                    background-color: @color1-inverso;
                                    color: @color1;
                                }
                            }
                        }
                        .dropdown-menu {
                            position: absolute;
                            float: left;
                            background: @color1;
                            border: 1px solid @color1-inverso;
                            border-top: none;
                            padding-top: 0px;
                            padding-bottom: 0px;
                            margin-top: -2px;
                            li {
                                a {
                                    color: @color1-inverso;
                                    background: @color1;
                                    padding-top: 0px;
                                    padding-bottom: 0px;
                                    &:hover {
                                        background: @color1-inverso;
                                        color: @color1;
                                    }
                                }
                                &:last-child {
                                    a {
                                        /*border-bottom-left-radius: 4px;
                                        border-bottom-right-radius: 4px;*/
                                    }    
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

/* Menu Responsive */

#menu-responsive {
    display: none;
    background: @color1;
    min-height: 17px;
    margin-top: -1px;
    margin-bottom: 0px;
    .navbar-header {
        .navbar-brand {
            margin-left: 15px;
            height: 15px;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 15px;
            padding-left: 15px;
            color: @color1-inverso;
            margin-top: 1px;
        }
        .navbar-toggle {
            height: 15px;
            margin: 0px 0px 0px 0px;
            padding: 5px 10px;
            padding-top: 16px;
            border-color: transparent;
            &:hover,
            &:focus {
                background-color: transparent;
            }
            .icon-bar {
                height: 1px;
                background-color: @color1-inverso;
                margin-top: -4px;

            }
            .iconbar + .iconbar {
                background-color: blue;
            }
        }
    }
    @media(max-width:991px) {
        display: block;
    }
    @media(max-width:360px) {
        display: inline-block;
    }
    .navbar-collapse {
        ul {
            &.navbar-nav {
                li {
                    &.active {
                        a {
                            background: @color1-inverso;
                            color: @color1;
                        }
                    }
                    a {
                        color: @color1-inverso;
                        &:hover {
                            color: @color1-inverso;
                        }
                        &:focus {
                            color: @color1;
                        }
                    }
                    &.dropdown {
                        &.open {
                            a {
                                &.dropdown-toggle {
                                    background: @color1-inverso;
                                    color: @color1;
                                }
                            }
                            .dropdown-menu {
                                background: @color1-inverso;
                                li {
                                    a {
                                        padding: 5px 15px 5px 40px;
                                        color: @color1;
                                    }
                                    &.active{
                                        a {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            &.dropdown-toggle {
                                background: @color1;
                                color: @color1-inverso;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*--------------------camino de migas-------------------------*/

#camino_migas {
    .breadcrumb {
        margin: 0;
        padding: 2px 15px 2px 0;
        background: transparent;
        @media (max-width: @screen-sm) {
            padding-left:0;
            margin: 12px 0 0 0;
        }
        li {
            margin: 0;
            display: inline-block;
            padding: 0;
            font-size: 14px;
            letter-spacing: @letter-spacing;
            font-family: @font-corporativa-sc-rg;
            a {
                font-family: @font-corporativa-sc-rg;
                color: @color2;
            }
            &.active {
                color: @color1;
            }
        }

        > li + li:before {
            padding: 0 3px 0 1px;
            color: @color2;
            content: ">\00a0";
        }

    }
}

/*-----------------------------------------*/



/*-----------------------------menu contacto pie de pagina---------------------------------------*/