// main: main.less


/*--------------claims subhomes---------------------*/

.subhome #claim-area {
      margin: 8% 0 5% 0;
      #claim  { width: 45%; text-align: right; padding: 0; color:#fff;
              h1 {color:#fff}
      }
      #claim-extend {clear:both; width: 45%; text-align: right; padding: 0 0 0 5%; color:#fff}
}


/*-----------------cabecera subhome formacion-----------------------*/

.subhome.formacion .header_group {
   > div {
     background: url("@{images}/fondo_formacion_2.jpg") right bottom no-repeat #670024 ;
   }
   @media (max-width: 1000px) {
     > div {background-size: 650px auto ;background-position: right -50px bottom}
   }
   @media (max-width: 850px) {
     > div {background-size: 600px auto ; background-position: right -100px bottom}
   }
   @media (max-width: 700px) {
     > div {
       background-size: 450px auto ; background-position: right -200px bottom;
       #claim-area {
         margin: 20px 0 30px 0;
         #claim  { width: 70%; text-align: right; padding: 0 15px}
         #claim-extend {clear:both; width: 70%; text-align: right; padding: 0 15px;}
       }
     }
   }
   @media (max-width: 400px) {
     > div {
       background-size: 450px auto ; background-position: right -350px bottom;
       #claim-area {
         #claim  { width: 100%; text-align: right; padding: 0 15px}
         #claim-extend {clear:both; width: 100%; text-align: right; padding: 0 15px;}
       }

     }
   }
}



/*-----------------------------------------*/

.menu-block {
  &:first-child {margin-top: -15px;}
  .layout-0-24-0;
  padding: 15px;
  header {
    .clearfix;
    h2{
      font-size: 21px;
      vertical-align: top;
      padding: 0 0 8px 100px;
    &:before {
      color:@color4;
      .icofont;
      font-size: 60px;
      vertical-align: top;
      top: -5px;
      left: 30px;
      position: absolute;
      margin: 0 ;
    }
     }
     p.descripcion {
       float: left;
       padding: 0 0 0 100px;
       max-width: 800px;
     }


  }

   .columnas4 {
     clear: both;
     margin: 30px 0 0 0;
     .clearfix;
     > div{
    /* color:#fabada;*/
     .make-sm-column (12);
     .make-md-column(6);
     margin: 0 0 15px 0;
     h3 {
       font-family: @font-corporativa-med;
       color: @color3;
       letter-spacing: 0.001em;
       margin: 0 0 15px 0;
       .color-marca {
         color:@color4;
         font-family: @font-corporativa-bold;
       }
     }
   }
 }

 .columnas2 {
    clear: both;
    margin: 30px 0 0 0;
    .clearfix;
    > div {
      .make-sm-column (12);
       margin: 0 0 15px 0;
       h3 {
         color:@color4;
         font-size: 18px;
         margin: 0 0 8px 0;
       }

    }
 }
}





























///
