// main: main.less

/*-----------------------------------variables----------------------------------------*/

@color1:          #A70B2C;  // rojo /* #9D2235; */
@color2:          #666666;  // gris oscuro /* #5B6770; */
@color3:          #C1C6C8;  // gris claro


/*del 4 al 7 están repetido para que no falle*/
@color4:          #5B6770;  // gris oscuro
@color5:          #5B6770;  // gris oscuro
@color6:          #C1C6C8;  // gris claro
@color7:          #C1C6C8;  // gris claro
/* grises buscador */

@color8:          #bfbfbf;   // gris oscuro
@color9:          #f9f9f9;   // gris claro

/* gris tabla */

@color10:         #444444;   // gris oscuro
@color11:         #EEEEEE;   // gris claro

@color1-inverso:  #fff;
@color2-inverso:  #fff;
@color3-inverso:  #fff;

@color1_hover: #fff;

@color_alert: #ea3d00;


@gris1:            lighten(@gray-base, 12%);
@gris2:            lighten(@gray-base, 20%);
@gris3:            lighten(@gray-base, 33%);
@gris4:            lighten(@gray-base, 50%);
@gris5:            lighten(@gray-base, 66%);
@gris6:            lighten(@gray-base, 80%);
@gris7:            lighten(@gray-base, 90%);
@gris8:            lighten(@gray-base, 94%);
@gris9:            lighten(@gray-base, 97%);
@gris10:           lighten(@gray-base, 99.3%);


@alto-cab:        90px;
@alto-footer:     75px;

@max-width:        @screen-lg;
@min-width:        360px;

// @font-corporativa:'Helvetica35-Thin' ,'Helvetica35-thin-eu', "Helvetica Neue", Helvetica, sans-serif;
// @font-corporativa2:'HelveticaNeue-Thin' , "Helvetica Neue",'Helvetica35-thin-eu', Helvetica, sans-serif;
// @font-corporativa-ext-light: 'Helvetica43-ExtendedLight', "Helvetica Neue", Helvetica, sans-serif;
// @font-corporativa-ext: 'Helvetica53-Extended', "Helvetica Neue",'Helvetica35-thin-eu', Helvetica, sans-serif;
// @font-corporativa-ext-thin: 'Helvetica33-ExtendedThin','Helvetica35-thin-eu', "Helvetica Neue", Helvetica, sans-serif;


@font-corporativa-light:'encode_sanslight', Helvetica, sans-serif;
@font-corporativa-reg:'encode_sansregular', Helvetica, sans-serif;
@font-corporativa-med:'encode_sansmedium', Helvetica, sans-serif;
@font-corporativa-sb:'encode_sanssemibold', Helvetica, sans-serif;
@font-corporativa-bold:'encode_sansbold', Helvetica, sans-serif;



@font-corporativa-ext: 'encode_sans_expandedregular', Helvetica, sans-serif;
@font-corporativa-ext-med: 'encode_sans_expandedmedium', Helvetica, sans-serif;


@font-corporativa-sc-lt: 'encode_sans_semi_condensedLt', Helvetica, sans-serif;

@font-corporativa-sc-rg: 'encode_sans_semi_condensedRg', Helvetica, sans-serif;
@font-corporativa-c-rg: 'encode_sans_condensedregular', Helvetica, sans-serif;

@font-corporativa-c-md: 'encode_sans_condensedmedium', Helvetica, sans-serif;
@font-corporativa-sc-md: 'encode_sans_semi_condensedmedium', Helvetica, sans-serif;



@letter-spacing:0.03em;


// @font-general:   Verdana,Geneva,sans-serif;
@font-general:  @font-corporativa-reg;


@images: "../img";


@screen-xs:480px;
@screen-sm:768px;
@screen-md:992px;
@screen-lg:1260px;







//
