
@font-face {
    font-family: 'encode_sanslight';
    src: url('fonts/encode/orig/EncodeSans-Light.ttf') format('truetype'),
          url('fonts/encode/encodesans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesans-light-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansregular';
    src: url('fonts/encode/orig/EncodeSans-Regular.ttf') format('truetype'),
         url('fonts/encode/encodesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesans-regular-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'encode_sansmedium';
    src: url('fonts/encode/orig/EncodeSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sanssemibold';
    src: url('fonts/encode/orig/EncodeSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansbold';
    src: url('fonts/encode/orig/EncodeSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'encode_sans_expandedregular';
    src: url('fonts/encode/orig/EncodeSansExpanded-Regular.ttf') format('truetype'),
         url('fonts/encode/encodesansexpanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesansexpanded-regular-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesansexpanded-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'encode_sans_expandedmedium';
    src: url('fonts/encode/orig/EncodeSansExpanded-Medium.ttf') format('truetype'),
         url('fonts/encode/encodesansexpanded-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesansexpanded-medium-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesansexpanded-medium-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}







@font-face {
    font-family: 'encode_sans_semi_condensedRg';
    src:  url('fonts/encode/orig/EncodeSansSemiCondensed-Regular.ttf') format('truetype'),
          url('fonts/encode/encodesanssemicondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesanssemicondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesanssemicondensed-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'encode_sans_condensedregular';
     src: url('fonts/encode/orig/EncodeSansCondensed-Regular.ttf') format('truetype'),
          url('fonts/encode/encodesanscondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesanscondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesanscondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'encode_sans_condensedmedium';
     src: url('fonts/encode/orig/EncodeSansCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_semi_condensedmedium';
     src: url('fonts/encode/orig/EncodeSansSemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







@font-face {
    font-family: 'encode_sans_semi_condensedLt';
    src: url('fonts/encode/orig/EncodeSansSemiCondensed-Light.ttf') format('truetype'),
         url('fonts/encode/encodesanssemicondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesanssemicondensed-light-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesanssemicondensed-light-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}








@font-face {
    font-family: 'encode_sans_semi_expandedMd';
    src:  url('fonts/encode/orig/EncodeSansSemiExpanded-Medium.ttf') format('truetype'),
        url('fonts/encode/encodesanssemiexpanded-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesanssemiexpanded-medium-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesanssemiexpanded-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'encode_sans_semi_expandedRg';
    src:  url('fonts/encode/orig/EncodeSansSemiExpanded-Regular.ttf') format('truetype'),
         url('fonts/encode/encodesanssemiexpanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/encode/encodesanssemiexpanded-regular-webfont.woff2') format('woff2'),
         url('fonts/encode/encodesanssemiexpanded-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}





/*------------------------------ pruebas de fuentes ------------------------*/





/*-------------------------------iconos--------------------------------------*/



    @font-face {
      font-family: 'icon-intef';
      src:  url('fonts/icon-intef.eot?tuvq6t');
      src:  url('fonts/icon-intef.eot?tuvq6t#iefix') format('embedded-opentype'),
        url('fonts/icon-intef.ttf?tuvq6t') format('truetype'),
        url('fonts/icon-intef.woff?tuvq6t') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'icofont-brands';
      src:  url('fonts/brands.eot?99sfj0');
      src:  url('fonts/brands.eot?99sfj0#iefix') format('embedded-opentype'),
        url('fonts/brands.ttf?99sfj0') format('truetype'),
        url('fonts/brands.woff?99sfj0') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'icofont-bullets';
      src:  url('fonts/bullets.eot?rrj6z2');
      src:  url('fonts/bullets.eot?rrj6z2#iefix') format('embedded-opentype'),
        url('fonts/bullets.ttf?rrj6z2') format('truetype'),
        url('fonts/bullets.woff?rrj6z2') format('woff');
      font-weight: normal;
      font-style: normal;
    }


    @font-face {
      font-family: 'icofont-files';
      src:  url('fonts/files.eot?6t4a0v');
      src:  url('fonts/files.eot?6t4a0v#iefix') format('embedded-opentype'),
        url('fonts/files.ttf?6t4a0v') format('truetype'),
        url('fonts/files.woff?6t4a0v') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'ccsfont';
      src:  url('fonts/ccsfont/ccsfont.eot?x0zu3a');
      src:  url('fonts/ccsfont/ccsfont.eot?x0zu3a#iefix') format('embedded-opentype'),
        url('fonts/ccsfont/ccsfont.ttf?x0zu3a') format('truetype'),
        url('fonts/ccsfont/ccsfont.woff?x0zu3a') format('woff'),
        url('fonts/ccsfont/ccsfont.svg?x0zu3a#ccsfont') format('svg');
      font-weight: normal;
      font-style: normal;
    }
